NoteManager.WPFClient/Service References/NoteManagerService/NoteManagerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import schemaLocation="http://localhost:54963/NoteManagerService.svc?xsd=xsd2"
               namespace="http://schemas.datacontract.org/2004/07/NoteManagerObjectModel"/>
    <xs:element name="NotesListByUserID">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="userID" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="NotesListByUserIDResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NoteManagerObjectModel" minOccurs="0"
                            name="NotesListByUserIDResult" nillable="true" type="q1:ArrayOfNoteData"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="NotesListByFilter">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="userID" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="NotesListByFilterResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NoteManagerObjectModel" minOccurs="0"
                            name="NotesListByFilterResult" nillable="true" type="q2:ArrayOfNoteData"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetNote">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="noteID" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetNoteResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NoteManagerObjectModel" minOccurs="0"
                            name="GetNoteResult" nillable="true" type="q3:NoteData"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AddNote">
        <xs:complexType>
            <xs:sequence>
                <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NoteManagerObjectModel" minOccurs="0"
                            name="noteData" nillable="true" type="q4:NoteData"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AddNoteResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="AddNoteResult" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RemoveNote">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="noteID" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RemoveNoteResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="RemoveNoteResult" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateNote">
        <xs:complexType>
            <xs:sequence>
                <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NoteManagerObjectModel" minOccurs="0"
                            name="noteData" nillable="true" type="q5:NoteData"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateNoteResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NoteManagerObjectModel" minOccurs="0"
                            name="UpdateNoteResult" nillable="true" type="q6:NoteData"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetUser">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="userID" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/NoteManagerObjectModel" minOccurs="0"
                            name="GetUserResult" nillable="true" type="q7:UserData"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetUserByEmail">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetUserByEmailResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/NoteManagerObjectModel" minOccurs="0"
                            name="GetUserByEmailResult" nillable="true" type="q8:UserData"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AddUser">
        <xs:complexType>
            <xs:sequence>
                <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/NoteManagerObjectModel" minOccurs="0"
                            name="userData" nillable="true" type="q9:UserData"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AddUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="AddUserResult" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RemoveUser">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="userID" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RemoveUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="RemoveUserResult" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateUser">
        <xs:complexType>
            <xs:sequence>
                <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/NoteManagerObjectModel" minOccurs="0"
                            name="user" nillable="true" type="q10:UserData"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/NoteManagerObjectModel" minOccurs="0"
                            name="UpdateUserResult" nillable="true" type="q11:UserData"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Test">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="TestResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="TestResult" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Login">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="LoginResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="LoginResult" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>