NoteManager.WPFClient/Service References/NoteManagerService/NoteManagerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NoteManagerObjectModel" elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/NoteManagerObjectModel"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="ArrayOfNoteData">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="NoteData" nillable="true" type="tns:NoteData"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfNoteData" nillable="true" type="tns:ArrayOfNoteData"/>
    <xs:complexType name="NoteData">
        <xs:sequence>
            <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="DateCreation" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="DateModification" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="UserID" type="xs:int"/>
            <xs:element minOccurs="0" name="noteID" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="NoteData" nillable="true" type="tns:NoteData"/>
    <xs:complexType name="SystemFault">
        <xs:sequence>
            <xs:element minOccurs="0" name="SystemMessage" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="SystemOperation" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="SystemReason" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="SystemFault" nillable="true" type="tns:SystemFault"/>
    <xs:complexType name="DatabaseFault">
        <xs:sequence>
            <xs:element minOccurs="0" name="DbMessage" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="DbOperation" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="DbReason" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DatabaseFault" nillable="true" type="tns:DatabaseFault"/>
    <xs:complexType name="UserData">
        <xs:sequence>
            <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="userId" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="UserData" nillable="true" type="tns:UserData"/>
</xs:schema>